 /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*-----------------------------------Main color  INDEX --------------------------------------------------*/

.wrapper
{
	height: 500px;
	width:400px;
	/*background-color: red;*/
}

section 
{
    height: 450px;
    width: 1364px;
    background-color: grey;
}

footer
{
    height : 100px;
    width: 1364px;
    background-color: #050a30; /* Alterado para Azul Escuro Oxford */
}


header {
    height: 130px;
    width: 1364px;
    background-color: #050a30; /* Azul Escuro Oxford */
    display: flex;
    padding: 1px; /* Ajusta o espaçamento interno */
}

.logo {
    display: flex;
    flex-direction: column; /* Organiza a imagem e o texto em coluna */
    /*align-items: center;  Centraliza o conteúdo dentro da div logo */
}

.logo img {
    max-width: 80px;
    height: auto;
    margin-bottom: 5px; /* Espaçamento entre a imagem e o texto */
}

.logo h1 {
    color: white;
    font-size: 18px;
    margin: 0;
    text-align: center;
}


nav {
    margin-left: auto; }  /* Empurra o menu para a direita 

/*
nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
*/
li a {
    color: white;
    text-decoration: none;
}
/*
nav li {
    display: inline-block;
    line-height: 130px;
}
*/
section .sec_img{
	height: 100vh;
	margin-top: 100%;
	background-image: url("imagens/samba.02.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box{
	height: 300px;
	width: 450px;
	background-color: #050a30;
	margin:60px auto ;
	opacity:  .9;
	color:white;
}

/*----------------------------student_login--------------------------------*/

.log_img
{
	height: 100vh;
	margin-top: 100%;
	background-image:  url("imagens/05.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.box1{
	height: 450px;
	width: 400px;
	background-color: #050a30;
	margin: 60px auto;
	opacity: .9;
	color: white;
	padding: 20px;
}
form .login{
	margin: auto 100px;
}
input{
	height: 25px;
	width: 200px;
}

/*_____________________________Registration_____________________________________*/
.reg_img
{
	height: 100vh;
	margin-top: 100%;
	background-image:  url("imagens/09.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box2{
	height: 605px;
	width: 410px;
	background-color: #050a30;
	margin: 0px auto;
	opacity: .9;
	color: white;
	padding: 20px;
}
form .Registration{
	margin: auto 100px;
}